<ion-content>

 <topo-login></topo-login>

 
  <form [formGroup] = "loginForm"(submit) = "login()" >

    <ion-item>
      <ion-icon name= "mail" slot="start"></ion-icon>
      <ion-input formControlName="email" type  = "email"placeholder="E-mail" altfocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name= "lock-closed" slot="start"></ion-icon>
      <ion-input formControlName="password" type = "password" placeholder="Senha"></ion-input>
    </ion-item>
    <ion-button [disable] = "loginForm.invalid" type="submit" expand ="block" color = "if" fill="clear">Enviar</ion-button>
</form><br><br>
  
</ion-content>

<ion-footer>

  <ion-row>

      <ion-col>
        <ion-button [routerLink] = "['/forgot']" fill ="clear" color = "medium">Esqueci minha senha</ion-button>
      </ion-col>

      <ion-col>
        <ion-button [routerLink] = "['/register']"fill ="clear" color = "medium">Criar usuário</ion-button>
      </ion-col>
    
  </ion-row>
</ion-footer>